.App {
  text-align: center;
}

.App-header {
  margin-top: 20px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.container {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: 15px;
  color: black;
  padding: 10px;
}

h4 {
  padding-bottom: 10px;
}

.head {
  padding-top: 40px;
}

.container-inner {
  background-color: #E9EAEE	;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container-rental, .container-rent-avail {
  background-color: white;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.container-rental label, .container-rent-avail label{
  padding-top: 5px;
  /*padding-bottom: 5px;*/
  padding-right: 15px;
  font-size: 18px;
}

.button-submit {
  background-color: #20B2AA;
  margin-top: 30px;
  float: right;
  /*padding: 25px 35px;*/
  width: 150px;
  height: 40px;
}
.btn-success {
  background-color: #23BA99!important;
  border: #23BA99!important;
}

.btn-danger {
  background-color: #F2323F!important;
  border: #F2323F!important;
}
.button-cancel-rent {
  float: right;
  /*padding: 25px 35px;*/
  width: 150px;
  height: 40px;
}

.button-cancel {
  justify-content: end;
  /*padding: 25px 35px;*/
  width: 150px;
  height: 40px;
}
.button-rent {
  margin-right: 20px;
  /*padding: 25px 35px;*/
  width: 150px;
  height: 40px;
}
.btn-info {
  background-color: #3750C7!important;
  border: #3750C7!important;
}

.button-mix {
  display: flex;
  justify-content: flex-end;
  float: right;
}